* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'chocolate';
    src: url('./fonts/chocolate_smoothies.otf');
}

@font-face {
    font-family: 'walking';
    src: url('./fonts/walking_day.otf');
}

@font-face {
    font-family: 'quesmo';
    src: url('./fonts/quesmo.otf');
}

body {
    font-family: 'quesmo';
}

#pageContent {
    display: grid;
    min-height: 100vh;
    width: 100vw;
    grid-template-rows: 220px 1fr 50px;
}

/* HEADER */

#header {
    background-color: rgb(30, 40, 60);
    display: grid;

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr;
}

#header img {
    filter: invert();
    width: 180px;
    grid-row: span 2;
    align-self: center;
    justify-self: center;
}

#title {
    align-self: center;
    justify-self: center;
    font-size: 50px;
    color: whitesmoke;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    gap: 5vw;
}

.navItem {
    flex: 1;
    color: whitesmoke;
    border: solid rgb(60, 80, 120) 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px 10px 0px;
    max-width: 250px;
    margin-bottom: 20px;
}

.navItem:hover {
    box-shadow: 0px 0px 8px whitesmoke;
    cursor: grab;
}

.navItem:active {
    background-color: rgb(60, 80, 120);
}

.navItem img {
    max-width: 15%;
}


/* CONTENT */

#content {
    background-color: whitesmoke;
    display: flex;
}

#todolist {
    background-color: whitesmoke;
    padding: 10px;
    display: grid;

    grid-template-columns: repeat(auto-fill, 230px);
    grid-template-rows: repeat(auto-fill, 260px);

    grid-auto-rows: 260px;
    justify-content: center;

    gap: 10px;
    flex: 3 2 auto;
}

#displaytodo {
    background-color: aquamarine;
    flex: 2 1 auto;
}

.todo {
    font-family: 'walking';
    border-radius: 10px;
    background-color: rgb(178, 211, 118);
    border: solid black 2px;
    box-shadow: 3px 3px 8px rgb(30, 40, 60);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo * {
    font-size: 25px;
    flex: 1;
    margin: 5px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.todoTitle {
    border-radius: 8px 8px 0 0;
    flex: 2;
    background-color: rgb(175, 194, 66);
    margin: 0;
    text-align: center;
    border-bottom: solid black 2px;    
}

.todoDescription {
    display: inline-block;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    padding-top: 5px;
}


/* FOOTER */

#footer {
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer * {
    color: white;
}